body {
  background-color: #E5E5E5;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  white-space: nowrap;
}



.header {
  background-color: #464547;
  &__wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  &__navigation {
    display: flex;
    padding-top: 10px;
    ul {
      list-style-type: none;
      display: flex;
    }
    &_item {
      padding: 10px 0;
      margin-right: 20px;
    }
  }
  @media screen and (max-width: 991px){
    &__navigation_btn {
    }
  }
  @media screen and (max-width: 768px) {
    &__wrapper {
      justify-content: center;
    }

    &__navigation {
      flex-direction: column;
      ul {
        flex-direction: column;
      }
      &_item {
        a {
          font-size: 16px;
        }
      }
    }
  }
}
.slider {
  margin-bottom: 100px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.promo {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    overflow: hidden;
    p {
      margin-bottom: 55px;
    }
  }
  .reverse {
    .promo__text-block {
      order: 2;
    }
  }
  &__text-block {
    min-height: 500px;
    padding: 50px 330px 30px 110px;
    background-color: #DEAE83;
    h1 {
      color: #fff;
    }
  }
  &__dignity-wrapper {
    display: flex;
  }
  &__dignity {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    color: white;
  }
}

.reviews {
  &-wrapper {
    background-color: #fff;
    padding: 55px 165px 45px 165px;
  }
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__items-wrapper {
    display: flex;
    justify-content: space-around;
  }
  &__image-wrapper {
    display: flex;
    justify-content: center;
  }
  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }
  &__item {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
  }
  &__text {
    max-width: 190px;
    min-height: 220px;
    font-size: 14px;
    margin: 0;
  }
}
